.nav-bar {
  margin-top: 20px;
}

.nav-bar ul li {
  list-style: none;
  padding: 0.5rem 1rem;
  border-radius: 3px;
}

.nav-bar ul li:hover {
  background-color: var(--light); 
}

.nav-bar a:hover {
  color: white;
  text-decoration: none;
}