/* Element */
html {
    background-image: url("back.jpg");
    background-size: cover;
}

h2 {
    color: darkred;
    text-align: center;
    cursor: pointer;
    border-bottom: 5px solid rgb(223, 222, 111);
}

li {
    list-style: none;
    display: inline-block;
}

/* .class */
.highlight {
    color: #DFDE6F;
}

.center-text {
 text-align: center;
}

/* element.class */
h2.header {
    font-family: monospace;
}

/* id */
#the-last {
    background-color: rgba(0, 255, 0, 0.2);
    width: fit-content;
}

/* own tag */
own {
    color: greenyellow;
}
